<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/95632d76-3829-4f55-907f-4229d4c85f41/resourcegroups/cloud-shell-storage-northeurope/providers/Microsoft.Web/sites/StoryTeller2018</ResourceId>
    <ResourceGroup>cloud-shell-storage-northeurope</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://storyteller2018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>storyteller2018.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StoryTeller2018</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StoryTeller2018</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:teamtododb.database.windows.net,1433;Initial Catalog=StoryTellerDb;Persist Security Info=False;User ID=jesus;Password=Jb31*Fk878a;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:teamtododb.database.windows.net,1433;Initial Catalog=StoryTellerDb;Persist Security Info=False;User ID=jesus;Password=Jb31*Fk878a; MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StoryTeller.Domain.Models.ApplicationDbContext, StoryTeller.Domain" MigrationConfiguration="StoryTeller.Domain.Migrations.Configuration, StoryTeller.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:teamtododb.database.windows.net,1433;Initial Catalog=StoryTellerDb;Persist Security Info=False;User ID=jesus;Password=Jb31*Fk878a; MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>